/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: rgb(255, 208, 0);
}

/* FOUNDATIONAL STYLES*/

#bigContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  height: 100px;
  cursor: pointer;
}

#signUpHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-bottom: 30px;

  cursor: default;
}
hr {
  width: 250px;
  border: 2px solid rgb(255, 208, 0);

  z-index: 1;
}
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  background-color: white;
  height: 500px;
  width: 500px;
}

#signUpBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

input {
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid rgb(255, 208, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  height: 30px;
  border-radius: 5px;
}

input:focus {
  outline: solid rgb(255, 208, 0);
}

#mainButtonDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainButton {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  background-color: rgb(56, 56, 56);
  height: 30px;
  width: 90px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

#logInButton {
  position: absolute;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  background-color: rgb(56, 56, 56);
  height: 30px;
  width: 90px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

#logInButton:hover {
  height: 35px;
  width: 95px;
  background-color: rgb(134, 212, 134);
}

#mainButton:hover {
  background-color: rgb(255, 208, 0);
  color: black;
}

/*error styles*/

#errorContainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(255, 53, 53);
  color: white;
  border-radius: 5px;
  height: 70px;
  width: 300px;
  opacity: 0%;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 16em;
  margin-left: 5px;
}

.errorView {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: error 0.4s linear;
          animation: error 0.4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes error {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 80;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes error {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 80;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}